img.img-responsive.ae3.product-line {
  margin-top: -18em; }

@media only screen and (max-width: 1025px) {
  .intro-desktop {
    display: none; } }

@media only screen and (min-width: 1025px) {
  .intro-mobile {
    display: none; }
  .intro-header .paragraphtext {
    width: 600px; } }

.addindex {
  z-index: 1; }

.product-line {
  z-index: 0; }

.diagonal-bg {
  z-index: 0; }

.section-incelligence {
  z-index: -3 !important; }
