img.img-responsive.ae3.product-line {
  margin-top: -18em; }

@media only screen and (max-width: 1025px) {
  .intro-desktop {
    display: none; } }

@media only screen and (min-width: 1025px) {
  .intro-mobile {
    display: none; } }

.paragraphtext {
  z-index: 3; }

.product-line {
  z-index: -1; }
