@media only screen and (max-width: 1025px) {
  .testube-desktop {
    display: none; }
  .tablet {
    display: none; } }

@media only screen and (min-width: 1025px) {
  .testube-mobile {
    display: none; }
  .testube-desktop {
    width: 475px; }
  .foundedtexttreat {
    margin-left: -50px;
    width: 500px; } }

.small {
  font-weight: normal; }
