@import "variables.scss";
@import "mixins.scss";
@import "animations.scss";
@import "fonts.scss";
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat-ExtraLight', sans-serif !important;
  font-size: 16px;
  @media (max-width: 991px) {
  font-size: 16px;
    font-weight: 100;

}
}
@keyframes readmoreanimation {

  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
button.displaytherest.btn.btn-secondary {
  color:#8FC7E8;
  margin: 0;
}
.donotdisplay{
  display: none!important;
}
.displaytherest{
  animation: readmoreanimation 1s;
}
.btn-secondary{
  border-color: #8FC7E8!important;
  margin: 5px;
}
.intro-header h1{
  font-family: 'Bauer Bodoni Std 1', serif;
  color: #828282;
  font-size: 4em;
}
.incelligence h1{
  font-family: 'Bauer Bodoni Std 1', serif;
  color: #828282!important;
  font-size: 3em!important;
  margin-top: 1em!important;

}
@media (max-width: 480px){
  .intro-header h1{
    font-size: 50px;
      font-family: 'Arapey', serif;
    margin-top: 15px!important;

  }
  .incelligence h1{
    font-size: 50px;
    font-family: 'Arapey', serif;
  }
}

#root {
  height:100%;}
#root > [data-reactroot] { height: 100%; }

.full-height{
  height: 100%;
}

@keyframes changeColor {
  0% {
    fill: #FFFFFF;
  }
  25% {
    fill: #fce9dd;
  }
  50% {
    fill: #8bc7ea;
  }
  75% {
    fill: #fce9dd;
  }
  100% {
    fill: #FFFFFF;
  }
}

.animatedLogo {
  -webkit-animation: changeColor 3s step-end;
  animation: changeColor 3s step-end;
  z-index: 200;
}

 body() {
  @include serif-font;
}

hr.light {
  border-color: white;
}

a {
  @include transition-all;
  color: $theme-primary;
  &:hover,
  &:focus {
    color: darken($theme-primary, 10%);
  }
}

p {
  font-size: 16px;
  line-height: 2;
  margin-bottom: 20px;
}

.bg-primary {
  background-color: $theme-primary;
}

.bg-dark {
  background-color: $gray-darker;
  color: white;
}

.text-faded {
  color: fade(white, 70%);
}

section {
  padding: 25px 0;
  @media (max-width: 767px) {
  padding: 30px 0;
}
}

aside {
  padding: 50px 0;
}

.no-padding {
  padding: 0;
}

// Navigation

.navbar-default {
  background-color: white;
  border-color: fade($gray-darker, 5%);
  @include sans-serif-font;
  @include transition-all;
  .navbar-header .navbar-brand {
    color: $theme-primary;
    @include sans-serif-font;
    font-weight: 700;
    text-transform: uppercase;
    &:hover,
    &:focus {
      color: darken($theme-primary, 10%);
    }
  }
  .navbar-header .navbar-toggle {
    font-weight: 700;
    font-size: 12px;
    color: $gray-darker;
    text-transform: uppercase;
  }
  .nav {
    > li {
      > a,
      > a:focus {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 13px;
        color: $gray-darker;
        &:hover {
          color: $theme-primary;
        }
      }
      &.active {
        > a,
        > a:focus {
          color: $theme-primary !important;
          background-color: transparent;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
  @media (min-width: 768px) {
  background-color: transparent;
  border-color: fade(white, 30%);
  .navbar-header .navbar-brand {
    color: fade(white, 70%);
    &:hover,
    &:focus {
      color: white;
    }
  }

  .nav > li > a,
  .nav > li > a:focus {
    color: fade(white, 70%);
    &:hover {
      color: white;
    }
  }

  &.affix {
    background-color: white;
    border-color: fade($gray-darker, 5%);
    .navbar-header .navbar-brand {
      color: $theme-primary;
      font-size: 14px;
      &:hover,
      &:focus {
        color: darken($theme-primary, 10%);
      }
    }
    .nav > li > a,
    .nav > li > a:focus {
      color: $gray-darker;
      &:hover {
        color: $theme-primary;
      }
    }
  }
}
}

// Homepage Header

header {
  z-index: -999;
  position: relative;
  display: table!important;
  width: 100%;
  min-height: auto;
  background: -moz-radial-gradient(center, ellipse cover, rgba(250, 244, 241, 1) 0%, rgba(239, 222, 213, 1) 100%); /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(250, 244, 241, 1)), color-stop(100%, rgba(239, 222, 213, 1))); /* safari4+,chrome */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(250, 244, 241, 1) 0%, rgba(239, 222, 213, 1) 100%); /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(250, 244, 241, 1) 0%, rgba(239, 222, 213, 1) 100%); /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(250, 244, 241, 1) 0%, rgba(239, 222, 213, 1) 100%); /* ie10+ */
  background: radial-gradient(ellipse at center, rgba(250, 244, 241, 1) 0%, rgba(239, 222, 213, 1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faf4f1', endColorstr='#efded5', GradientType=1); /* ie6-9 */
  text-align: center;
  color: white;
  .header-content {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    z-index: 1000;
    svg.img-responsive {
      margin: 0 auto;
    }
    .header-content-inner {
      h1 {
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 30px;
      }
      hr {
        margin: 30px auto;
      }
      p {
        font-weight: 300;
        color: fade(white, 70%);
        font-size: 16px;
        margin-bottom: 50px;
      }
    }
  }
  @media (min-width: 768px) {
  min-height: 100%;
  .header-content {
    padding: 200px 15px 100px;
    //-webkit-transform: translateY(-50%);
    //-ms-transform: translateY(-50%);
    //transform: translateY(-50%);
    //padding: 0 50px;
    .header-content-inner {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      h1 {
        font-size: 50px;
      }
      p {
        font-size: 18px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
}


// Sections
.section-product {
  padding-top: 100px;
  background-color: #f9f9f9;
}
.section-heading {
  margin-top: 0;

}
.intro-img {
  position: relative;
}

#section-footer a {
  text-decoration: none;
  color: #333333;
  font-family: 'Montserrat-ExtraLight', sans-serif;
  list-style: none;
  color: rgba(97, 96, 96, 0.49);
  margin-bottom: 10px;
  line-height: 1em;
  font-size: 12px;
}

#section-footer {
  display: flex;
  justify-content: center;
  background-color: #E3E5E8;
  z-index: 100;
  text-align: center;
  padding-top: 4em;
  ul {
    margin-left: -34px;
  }
  ul li {
    font-family: 'GMontserrat-ExtraLight', sans-serif;
    list-style: none;
    color: rgba(97, 96, 96, 0.49);
    margin-bottom: 10px;
    line-height: 1em;
    font-size: 12px;
    a {
      color: #616060;
      text-decoration: none;
      font-weight: 100;
    }
  }
  ul.iconList {
    margin-top: 30px;
  }
  li.icons i.fa {
    margin-right: 8px;
    color: #FFF;
    letter-spacing: 15px;
  }
  .footerHeader {
    font-weight: 400;
    font-size: 1.1em;
    color: #616060;
  }
  small {
    font-size: 11px;
    font-weight: 100;
    color: #4F4F4F;
  }
  .footer-square-text {
    margin: 20px 0;
    font-size: 10px;
    padding: 5px;
  }

  .footer-text {
    font-size: 10px;
    padding: 5px;
  }

  .footer-logo {
    width: 200px;
    //margin: 0 auto 50px auto;

  }

}

.service-box {
  max-width: 400px;
  margin: 50px auto 0;
  @media (min-width: 992px) {
  margin: 20px auto 0;
}
  p {
    margin-bottom: 0;
  }
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
  .portfolio-box-caption {
    color: white;
    opacity: 0;
    display: block;
    background: fade($theme-primary, 90%);
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    @include transition-all;
    .portfolio-box-caption-content {
      width: 100%;
      text-align: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      .project-category,
      .project-name {
        @include sans-serif-font;
        padding: 0 15px;
      }
      .project-category {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
      }
      .project-name {
        font-size: 18px;
      }
    }
  }
  &:hover {
    .portfolio-box-caption {
      opacity: 1;
    }
  }
  &:focus {
    outline: none;
  }
  @media (min-width: 768px) {
  .portfolio-box-caption {
    .portfolio-box-caption-content {
      .project-category {
        font-size: 16px;
      }
      .project-name {
        font-size: 22px;
      }
    }
  }
}
}

.call-to-action {
  h2 {
    margin: 0 auto 20px;
  }
}

// Bootstrap Overrides
.text-primary {
  color: $theme-primary;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

// Button Styles
.btn-default {
  @include button-variant($gray-darker, white, white);
}

.btn-primary {
  @include button-variant(white, $theme-primary, $theme-primary);
}

.btn {
  @include  sans-serif-font;
  border: none;
  border-radius: 0;
  font-weight: 700;
}

.btn-xl {
  padding: 15px 30px;
  white-space: normal;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
  color: white;
  text-shadow: none;
  background: $gray-darker;
}

::selection {
  color: white;
  text-shadow: none;
  background: $gray-darker;
}

img::selection {
  color: white;
  background: transparent;
}

img::-moz-selection {
  color: white;
  background: transparent;
}

body {
  webkit-tap-highlight-color: $gray-darker;
  font-family: 'Montserrat-ExtraLight', sans-serif;
}

.modal {
  text-align: center;
  padding: 0 !important;
  border-radius: 0;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-backdrop {
  background-image: url(../backgroundimg/modalBG.png);
  background-color: transparent;
  background-size: cover;
}

.modal-backdrop.in {
  filter: alpha(opacity=80);
  opacity: 0.8;
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 0px;
  border: 0;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(196, 167, 151, .5);
  box-shadow: 0 3px 9px rgba(196, 167, 151, .5);
}

.modal {
  h3 {
    color: #8FC7E8;
    font-weight: 400;
    line-height: 2.25rem;
  }
  .date {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #EAD4C8;
  }
  .faCloseModal {
    font-size: 2rem;
  }
}

.modal-body {
  padding: 2.5rem 1rem 1rem;
}

button.close {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px;
  font-weight: 700;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.8;
  color: $theme-primary;
  &:hover {
    color: $theme-primary;
    opacity: 1;
  }
  &:focus {
    outline: none;
  }
}

.modal .input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 0;
  text-align: center;
}

#imgReveal {
  position: absolute;
  z-index: 1;
  animation-delay: 2.9s;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
}

.behind {
  z-index: -999;
  color: red;
}

.register {
  height: 4em;
  background-color: $theme-primary;
  color: #fff;
  border-radius: 0;
  z-index: 999;

}
.founded {
  margin-top: 20px;
}

section {
  span.fa-3x {
    font-size: 3em;
    color: #8FC7E8;
    margin-top: 60px;
    display: block;
    font-family: 'Montserrat-ExtraLight', sans-serif;
    line-height: 1.2em;
  }

}
.intro-header {
  padding: 50px 0;
  border: 3px solid #8fc7e8;
  .intro-header-text {
    margin-top: 20px;
  }
}
.incelligence {
  //margin-top: -40px;
}
.incelligence h1 {
  color: $theme-primary;
}

.row {
  margin: 0;
}

div.row.relativerow {

  bottom: 45em;
}



div.row.greybg {
  margin-top: 168px;
}



div.col.whitebg {
  background-color: #ffffff;
}

.incelligencedescription {
  line-height: 2rem;
  font-weight: 200;
  color: #828282;
}

.oilsplat {
  position: absolute;
  right: -12em;
  z-index: 100;
  top: -70px;
}

.bluerectangle {
  z-index: -1;
  border-style: solid;
  border-color: #8fc7e8;
  background-repeat: no-repeat;
  margin-top: -57px;
  line-height: 2em;
  color: rgba(85, 85, 85, .61);
  padding: 30px;
  margin-bottom: -20px;
}

.paragraphtext {
  line-height: 2.24rem;
  font-weight: 200;
  margin: 2rem 0;
  color: #828282;
}

div.col-lg-6.bluerectangle img {
  margin-top: 8em;
}

//popup form
#af-form-1556410765 .af-body .af-textWrap {
  width: 100%;
  display: block;
  float: none;
}

#af-form-1556410765 .af-body .privacyPolicy {
  color: #CCCCCC;
  font-size: 11px;
}

#af-form-1556410765 .af-body a {
  color: #CCCCCC;
  text-decoration: underline;
  font-style: normal;
  font-weight: normal;
}

#af-form-1556410765 .af-body input.text, #af-form-1556410765 .af-body textarea {
  background-color: #fff;
  border-color: #d9d9d9;
  border-width: 1px;
  border-style: solid;
  color: #c7c7c7;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 11px 20px;
  border-radius: 0;
  text-align: center;
  outline: none !important;
}

#af-form-1556410765 .af-body input.text:focus, #af-form-1556410765 .af-body textarea:focus {
  background-color: rgba(252, 233, 216, 0.3);
  border-color: transparent;
  border-width: 1px;
  border-style: solid;
}

#af-form-1556410765 .af-body label.previewLabel {
  display: block;
  float: none;
  text-align: left;
  width: auto;
  color: #CCCCCC;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  font-family: 'Montserrat-ExtraLight', sans-serif;
}

#af-form-1556410765 .af-body {
  padding-bottom: 0;
  padding-top: 10px;
  background-repeat: no-repeat;
  background-position: inherit;
  background-image: none;
  color: #CCCCCC;
  font-size: 11px;
}

#af-form-1556410765 .af-quirksMode {
  padding-right: 3rem;
  padding-left: 3rem;
}

#af-form-1556410765 .af-standards .af-element {
  padding-right: 3rem;
  padding-left: 3rem;
}

#af-form-1556410765 .buttonContainer {

  .btn {
    margin-bottom: 10px;
  }

  input.submit {
    background-color: #0479C2;
    background-image: url("http://aweber.com/images/forms/plain/buttons/grey.png");
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
  }
}

#af-form-1556410765 .buttonContainer input.submit {
  width: auto;
}

#af-form-1556410765 .buttonContainer {
  text-align: center;
}

#af-form-1556410765 button, #af-form-1556410765 input, #af-form-1556410765 submit, #af-form-1556410765 textarea, #af-form-1556410765 select, #af-form-1556410765 label, #af-form-1556410765 optgroup, #af-form-1556410765 option {
  float: none;
  position: static;
  margin: 0;
}

#af-form-1556410765 div {
  margin: 0;
}

#af-form-1556410765 form, #af-form-1556410765 textarea, .af-form-wrapper, .af-form-close-button, #af-form-1556410765 img {
  float: none;
  color: inherit;
  position: static;
  background-color: none;
  border: none;
  margin: 0;
  padding: 0;
}

#af-form-1556410765 input, #af-form-1556410765 textarea, #af-form-1556410765 select {
  font-size: 100%;
}

#af-form-1556410765 select, #af-form-1556410765 label, #af-form-1556410765 optgroup, #af-form-1556410765 option {
  padding: 0;
}

#af-form-1556410765, #af-form-1556410765 .quirksMode {
  width: 100%;
  max-width: 418px;
}

#af-form-1556410765.af-quirksMode {
  overflow-x: hidden;
}

#af-form-1556410765 {
  background-color: #FFFFFF;
  border-color: #CFCFCF;
  border-width: 1px;
  border-style: none;
}

#af-form-1556410765 {
  display: block;
}

#af-form-1556410765 {
  overflow: hidden;
}

.af-body .af-textWrap {
  text-align: left;
}

.af-body input.image {
  border: none !important;
}

.af-body input.text {
  width: 100%;
  float: none;
}

.af-body.af-standards input.submit {
  padding: 4px 12px;
}

.af-clear {
  clear: both;
}

.af-element label {
  text-align: left;
  display: block;
  float: left;
}

.af-element {
  padding-bottom: 5px;
  padding-top: 5px;
}

.af-form-wrapper {
  text-indent: 0;
}

.af-form {
  text-align: left;
  margin: auto;
}

.af-quirksMode .af-element {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.lastNameContainer {
  margin-top: 10px;
}

.lbl-right .af-element label {
  text-align: right;
}

body {
}

.animatedRow {
  position: relative;
}
section.section-intro {
  position: relative;
}

.diagonal-bg {
  position: absolute;
  height: 50%;
  background: linear-gradient(to bottom left, #FFF 50%, #f9f9f9 50%);
  display: block;
  top: 60%;
  right: 0;
  bottom: 0;
  left: 0;
}

span.incelligence-header {
  position: relative;
  left: -110px;
}
.section-incelligence {
  background: #f9f9f9;
}



img.celavive-pic-1 {
  position: absolute;
  right: 0;
  top: 80px;
  z-index: 100;
}

img.healthy-rect {
  position: absolute;
  left: 0;
  z-index: 1;
}

img.healthy-quote {
  position: absolute;
  left: 100px;
  top: 100px;
  z-index: 500;
}

img.science-vertical {
  left: 102px;
  top: 103px;
  position: absolute;
  height: 710px;
}

img.img-responsive.ae3.product-line {
  position: relative;
  right: -60px;
}
img.img-responsive{
  width:100%;
  max-width: 800px;
}

img.img-responsive.floatimg.hidden-xs.hidden-sm.hidden-md.ae6 {
  position: relative;
  top: -70px;
}

@media (min-width: 1200px) {
.section-science .container {
  width: 1310px
}
}

@import "mobile.scss";
//section-founded-on-science
.section-founded-on-science {
  background-color: #f9f9f9;
  background-image: linear-gradient(180deg, #f9f9f9 0%, #ffffff 100%);
  margin-top: -50px;
  img {
    max-width: 100%;
  }

  .left {
    text-align: right;
    @media (max-width: 991px) {
    .founded-on-science-img {
      width: 40%;
    }
  }
  }
  .title {
    margin-left: -8%;
    &.visible-xs, &.visible-sm {
      position: absolute;
      bottom: -2.5rem;
      margin: 0;
      padding: 0 2rem
    }
  }

  .celvCarouse {

    .celv-secondary-text {
      h4 {
        line-height: 2rem;
        font-style: italic;
        font-weight: 300;
        text-align: left;
      }
      div {
        text-align: left;
      }
    }

    .btn.btnReadMore {
      border: $theme-primary 1px solid;
      text-transform: none;
      padding: 10px 20px;
      &:hover {
        background: white;
        color: $theme-primary;
      }
      &.hidden {
        display: none;
      }
    }
    #readMoreScienceText .hidden {
      display: none;
    }
    #readMoreScienceText .visible {
      display: inline-block;
    }
  }
}

//section-social-media
.section-social-media {
  padding-top: 0;
  .container .flexRow {
    display: flex;
    .left {
      align-self: center;
      text-align: right;
      img {
        max-width: 90%;
      }
    }
    .right {
      align-self: center;
      .top {
        img {
          width: 100%;
        }
        @media (max-width: 767px) {
        img {
          max-width: 350px;
        }

        .col-xs-4 {
          @media (max-width: 767px) {
          padding: 5px;
        }
        }
      }
      }
      .bottom {
        padding: 3rem 1rem 1rem;
        .title {
          max-height: 3rem;
          max-width: 100%;
          margin-bottom: 2rem;
        }
        .content {
          padding-left: 2rem;;
          @media (max-width: 767px) {
          padding: 0;
        }
        }
      }
    }
  }
}

//general-purpose
.celv-secondary-text {
  color: #828282;
  line-height: 2rem;
  font-weight: 200;
}

.padding {
  padding: 15px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.btn-primary-invert {
  background: white;
  color: darken($theme-primary, 15%);
  border: solid 1px $theme-primary;
  font-weight: 400;
  &:hover {
    background: $theme-primary;
    color: white;
  }
}

//alert
#emailSubmissionSuccessAlert.alert.alert-info{
  background-color: $theme-primary;
  display: none;
  position: fixed;
  top:0;
  width: 100%;
  border-radius: 0;
  border: none;
  color:white;
  text-align: center;
  font-size: 16px;
  z-index: 10;
  .close{
    color:white;
    top:5px;
  }
  &.visible{
    display:block;
  }
}
.dropdown-menu{
  background-color: transparent!important;
  border: none!important;
}
