/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.2
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2017 Daniel Eden
 */
@import url("https://fonts.googleapis.com/css?family=Arapey:400i");
.animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

.animated.infinite {
  animation-iteration-count: infinite; }

.animated.hinge {
  animation-duration: 2s; }

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s; }

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0); }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0); }
  90% {
    transform: translate3d(0, -4px, 0); } }

.bounce {
  animation-name: bounce;
  transform-origin: center bottom; }

@keyframes flash {
  from, 50%, to {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }

.flash {
  animation-name: flash; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1); }
  50% {
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    transform: scale3d(1, 1, 1); } }

.pulse {
  animation-name: pulse; }

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1); }
  30% {
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); }
  to {
    transform: scale3d(1, 1, 1); } }

.rubberBand {
  animation-name: rubberBand; }

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0); } }

.shake {
  animation-name: shake; }

@keyframes headShake {
  0% {
    transform: translateX(0); }
  6.5% {
    transform: translateX(-6px) rotateY(-9deg); }
  18.5% {
    transform: translateX(5px) rotateY(7deg); }
  31.5% {
    transform: translateX(-3px) rotateY(-5deg); }
  43.5% {
    transform: translateX(2px) rotateY(3deg); }
  50% {
    transform: translateX(0); } }

.headShake {
  animation-timing-function: ease-in-out;
  animation-name: headShake; }

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg); }
  40% {
    transform: rotate3d(0, 0, 1, -10deg); }
  60% {
    transform: rotate3d(0, 0, 1, 5deg); }
  80% {
    transform: rotate3d(0, 0, 1, -5deg); }
  to {
    transform: rotate3d(0, 0, 1, 0deg); } }

.swing {
  transform-origin: top center;
  animation-name: swing; }

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1); }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to {
    transform: scale3d(1, 1, 1); } }

.tada {
  animation-name: tada; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@keyframes wobble {
  from {
    transform: none; }
  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg); }
  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg); }
  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg); }
  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg); }
  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg); }
  to {
    transform: none; } }

.wobble {
  animation-name: wobble; }

@keyframes jello {
  from, 11.1%, to {
    transform: none; }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg); }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg); }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg); }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg); }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg); }
  77.7% {
    transform: skewX(0.39062deg) skewY(0.39062deg); }
  88.8% {
    transform: skewX(-0.19531deg) skewY(-0.19531deg); } }

.jello {
  animation-name: jello;
  transform-origin: center; }

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1); } }

.bounceIn {
  animation-name: bounceIn; }

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0); }
  75% {
    transform: translate3d(0, -10px, 0); }
  90% {
    transform: translate3d(0, 5px, 0); }
  to {
    transform: none; } }

.bounceInDown {
  animation-name: bounceInDown; }

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0); }
  75% {
    transform: translate3d(-10px, 0, 0); }
  90% {
    transform: translate3d(5px, 0, 0); }
  to {
    transform: none; } }

.bounceInLeft {
  animation-name: bounceInLeft; }

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0); }
  75% {
    transform: translate3d(10px, 0, 0); }
  90% {
    transform: translate3d(-5px, 0, 0); }
  to {
    transform: none; } }

.bounceInRight {
  animation-name: bounceInRight; }

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }
  75% {
    transform: translate3d(0, 10px, 0); }
  90% {
    transform: translate3d(0, -5px, 0); }
  to {
    transform: translate3d(0, 0, 0); } }

.bounceInUp {
  animation-name: bounceInUp; }

@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9); }
  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1); }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); } }

.bounceOut {
  animation-name: bounceOut; }

@keyframes bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0); }
  40%, 45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); } }

.bounceOutDown {
  animation-name: bounceOutDown; }

@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0); }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); } }

.bounceOutLeft {
  animation-name: bounceOutLeft; }

@keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0); }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); } }

.bounceOutRight {
  animation-name: bounceOutRight; }

@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0); }
  40%, 45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); } }

.bounceOutUp {
  animation-name: bounceOutUp; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  animation-name: fadeIn; }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInDown {
  animation-name: fadeInDown; }

@keyframes fadeInDownBig {
  from {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInDownBig {
  animation-name: fadeInDownBig; }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInLeft {
  animation-name: fadeInLeft; }

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInLeftBig {
  animation-name: fadeInLeftBig; }

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInRight {
  animation-name: fadeInRight; }

@keyframes fadeInRightBig {
  from {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInRightBig {
  animation-name: fadeInRightBig; }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInUp {
  animation-name: fadeInUp; }

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInUpBig {
  animation-name: fadeInUpBig; }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0); } }

.fadeOutDown {
  animation-name: fadeOutDown; }

@keyframes fadeOutDownBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); } }

.fadeOutDownBig {
  animation-name: fadeOutDownBig; }

@keyframes fadeOutLeft {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); } }

.fadeOutLeft {
  animation-name: fadeOutLeft; }

@keyframes fadeOutLeftBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); } }

.fadeOutLeftBig {
  animation-name: fadeOutLeftBig; }

@keyframes fadeOutRight {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0); } }

.fadeOutRight {
  animation-name: fadeOutRight; }

@keyframes fadeOutRightBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); } }

.fadeOutRightBig {
  animation-name: fadeOutRightBig; }

@keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0); } }

.fadeOutUp {
  animation-name: fadeOutUp; }

@keyframes fadeOutUpBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); } }

.fadeOutUpBig {
  animation-name: fadeOutUpBig; }

@keyframes flip {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out; }
  40% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out; }
  50% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in; }
  80% {
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    animation-timing-function: ease-in; }
  to {
    transform: perspective(400px);
    animation-timing-function: ease-in; } }

.animated.flip {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  animation-name: flip; }

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  to {
    transform: perspective(400px); } }

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInX; }

@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg); }
  to {
    transform: perspective(400px); } }

.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInY; }

@keyframes flipOutX {
  from {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }

.flipOutX {
  animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@keyframes flipOutY {
  from {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1; }
  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0; } }

.flipOutY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipOutY; }

@keyframes lightSpeedIn {
  from {
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0; }
  60% {
    transform: skewX(20deg);
    opacity: 1; }
  80% {
    transform: skewX(-5deg);
    opacity: 1; }
  to {
    transform: none;
    opacity: 1; } }

.lightSpeedIn {
  animation-name: lightSpeedIn;
  animation-timing-function: ease-out; }

@keyframes lightSpeedOut {
  from {
    opacity: 1; }
  to {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0; } }

.lightSpeedOut {
  animation-name: lightSpeedOut;
  animation-timing-function: ease-in; }

@keyframes rotateIn {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0; }
  to {
    transform-origin: center;
    transform: none;
    opacity: 1; } }

.rotateIn {
  animation-name: rotateIn; }

@keyframes rotateInDownLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; }
  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1; } }

.rotateInDownLeft {
  animation-name: rotateInDownLeft; }

@keyframes rotateInDownRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; }
  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1; } }

.rotateInDownRight {
  animation-name: rotateInDownRight; }

@keyframes rotateInUpLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; }
  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1; } }

.rotateInUpLeft {
  animation-name: rotateInUpLeft; }

@keyframes rotateInUpRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0; }
  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1; } }

.rotateInUpRight {
  animation-name: rotateInUpRight; }

@keyframes rotateOut {
  from {
    transform-origin: center;
    opacity: 1; }
  to {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0; } }

.rotateOut {
  animation-name: rotateOut; }

@keyframes rotateOutDownLeft {
  from {
    transform-origin: left bottom;
    opacity: 1; }
  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; } }

.rotateOutDownLeft {
  animation-name: rotateOutDownLeft; }

@keyframes rotateOutDownRight {
  from {
    transform-origin: right bottom;
    opacity: 1; }
  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; } }

.rotateOutDownRight {
  animation-name: rotateOutDownRight; }

@keyframes rotateOutUpLeft {
  from {
    transform-origin: left bottom;
    opacity: 1; }
  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; } }

.rotateOutUpLeft {
  animation-name: rotateOutUpLeft; }

@keyframes rotateOutUpRight {
  from {
    transform-origin: right bottom;
    opacity: 1; }
  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0; } }

.rotateOutUpRight {
  animation-name: rotateOutUpRight; }

@keyframes hinge {
  0% {
    transform-origin: top left;
    animation-timing-function: ease-in-out; }
  20%, 60% {
    transform: rotate3d(0, 0, 1, 80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out; }
  40%, 80% {
    transform: rotate3d(0, 0, 1, 60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
    opacity: 1; }
  to {
    transform: translate3d(0, 700px, 0);
    opacity: 0; } }

.hinge {
  animation-name: hinge; }

@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom; }
  50% {
    transform: rotate(-10deg); }
  70% {
    transform: rotate(3deg); }
  to {
    opacity: 1;
    transform: scale(1); } }

.jackInTheBox {
  animation-name: jackInTheBox; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@keyframes rollIn {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg); }
  to {
    opacity: 1;
    transform: none; } }

.rollIn {
  animation-name: rollIn; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@keyframes rollOut {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg); } }

.rollOut {
  animation-name: rollOut; }

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

.zoomIn {
  animation-name: zoomIn; }

@keyframes zoomInDown {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomInDown {
  animation-name: zoomInDown; }

@keyframes zoomInLeft {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomInLeft {
  animation-name: zoomInLeft; }

@keyframes zoomInRight {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomInRight {
  animation-name: zoomInRight; }

@keyframes zoomInUp {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomInUp {
  animation-name: zoomInUp; }

@keyframes zoomOut {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }

.zoomOut {
  animation-name: zoomOut; }

@keyframes zoomOutDown {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomOutDown {
  animation-name: zoomOutDown; }

@keyframes zoomOutLeft {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0); }
  to {
    opacity: 0;
    transform: scale(0.1) translate3d(-2000px, 0, 0);
    transform-origin: left center; } }

.zoomOutLeft {
  animation-name: zoomOutLeft; }

@keyframes zoomOutRight {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0); }
  to {
    opacity: 0;
    transform: scale(0.1) translate3d(2000px, 0, 0);
    transform-origin: right center; } }

.zoomOutRight {
  animation-name: zoomOutRight; }

@keyframes zoomOutUp {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomOutUp {
  animation-name: zoomOutUp; }

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

.slideInDown {
  animation-name: slideInDown; }

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

.slideInLeft {
  animation-name: slideInLeft; }

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

.slideInRight {
  animation-name: slideInRight; }

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

.slideInUp {
  animation-name: slideInUp; }

@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0); } }

.slideOutDown {
  animation-name: slideOutDown; }

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0); } }

.slideOutLeft {
  animation-name: slideOutLeft; }

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0); } }

.slideOutRight {
  animation-name: slideOutRight; }

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0); } }

.slideOutUp {
  animation-name: slideOutUp; }

@font-face {
  font-weight: 200;
  font-family: "Montserrat-ExtraLight";
  src: url("fonts/Montserrat-ExtraLight.ttf"); }

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat-ExtraLight', sans-serif !important;
  font-size: 16px; }
  @media (max-width: 991px) {
    html,
    body {
      font-size: 16px;
      font-weight: 100; } }

@keyframes readmoreanimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

button.displaytherest.btn.btn-secondary {
  color: #8FC7E8;
  margin: 0; }

.donotdisplay {
  display: none !important; }

.displaytherest {
  animation: readmoreanimation 1s; }

.btn-secondary {
  border-color: #8FC7E8 !important;
  margin: 5px; }

.intro-header h1 {
  font-family: 'Bauer Bodoni Std 1', serif;
  color: #828282;
  font-size: 4em; }

.incelligence h1 {
  font-family: 'Bauer Bodoni Std 1', serif;
  color: #828282 !important;
  font-size: 3em !important;
  margin-top: 1em !important; }

@media (max-width: 480px) {
  .intro-header h1 {
    font-size: 50px;
    font-family: 'Arapey', serif;
    margin-top: 15px !important; }
  .incelligence h1 {
    font-size: 50px;
    font-family: 'Arapey', serif; } }

#root {
  height: 100%; }

#root > [data-reactroot] {
  height: 100%; }

.full-height {
  height: 100%; }

@keyframes changeColor {
  0% {
    fill: #FFFFFF; }
  25% {
    fill: #fce9dd; }
  50% {
    fill: #8bc7ea; }
  75% {
    fill: #fce9dd; }
  100% {
    fill: #FFFFFF; } }

.animatedLogo {
  -webkit-animation: changeColor 3s step-end;
  animation: changeColor 3s step-end;
  z-index: 200; }

body() {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif; }

hr.light {
  border-color: white; }

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #8FC7E8; }
  a:hover, a:focus {
    color: #65b2df; }

p {
  font-size: 16px;
  line-height: 2;
  margin-bottom: 20px; }

.bg-primary {
  background-color: #8FC7E8; }

.bg-dark {
  background-color: #222222;
  color: white; }

.text-faded {
  color: fade(white, 70%); }

section {
  padding: 25px 0; }
  @media (max-width: 767px) {
    section {
      padding: 30px 0; } }

aside {
  padding: 50px 0; }

.no-padding {
  padding: 0; }

.navbar-default {
  background-color: white;
  border-color: fade(#222222, 5%);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s; }
  .navbar-default .navbar-header .navbar-brand {
    color: #8FC7E8;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase; }
    .navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus {
      color: #65b2df; }
  .navbar-default .navbar-header .navbar-toggle {
    font-weight: 700;
    font-size: 12px;
    color: #222222;
    text-transform: uppercase; }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: #222222; }
    .navbar-default .nav > li > a:hover,
    .navbar-default .nav > li > a:focus:hover {
      color: #8FC7E8; }
  .navbar-default .nav > li.active > a,
  .navbar-default .nav > li.active > a:focus {
    color: #8FC7E8 !important;
    background-color: transparent; }
    .navbar-default .nav > li.active > a:hover,
    .navbar-default .nav > li.active > a:focus:hover {
      background-color: transparent; }
  @media (min-width: 768px) {
    .navbar-default {
      background-color: transparent;
      border-color: fade(white, 30%); }
      .navbar-default .navbar-header .navbar-brand {
        color: fade(white, 70%); }
        .navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus {
          color: white; }
      .navbar-default .nav > li > a,
      .navbar-default .nav > li > a:focus {
        color: fade(white, 70%); }
        .navbar-default .nav > li > a:hover,
        .navbar-default .nav > li > a:focus:hover {
          color: white; }
      .navbar-default.affix {
        background-color: white;
        border-color: fade(#222222, 5%); }
        .navbar-default.affix .navbar-header .navbar-brand {
          color: #8FC7E8;
          font-size: 14px; }
          .navbar-default.affix .navbar-header .navbar-brand:hover, .navbar-default.affix .navbar-header .navbar-brand:focus {
            color: #65b2df; }
        .navbar-default.affix .nav > li > a,
        .navbar-default.affix .nav > li > a:focus {
          color: #222222; }
          .navbar-default.affix .nav > li > a:hover,
          .navbar-default.affix .nav > li > a:focus:hover {
            color: #8FC7E8; } }

header {
  z-index: -999;
  position: relative;
  display: table !important;
  width: 100%;
  min-height: auto;
  background: -moz-radial-gradient(center, ellipse cover, #faf4f1 0%, #efded5 100%);
  /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #faf4f1), color-stop(100%, #efded5));
  /* safari4+,chrome */
  background: -webkit-radial-gradient(center, ellipse cover, #faf4f1 0%, #efded5 100%);
  /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse cover, #faf4f1 0%, #efded5 100%);
  /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse cover, #faf4f1 0%, #efded5 100%);
  /* ie10+ */
  background: radial-gradient(ellipse at center, #faf4f1 0%, #efded5 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faf4f1', endColorstr='#efded5', GradientType=1);
  /* ie6-9 */
  text-align: center;
  color: white; }
  header .header-content {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    z-index: 1000; }
    header .header-content svg.img-responsive {
      margin: 0 auto; }
    header .header-content .header-content-inner h1 {
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 30px; }
    header .header-content .header-content-inner hr {
      margin: 30px auto; }
    header .header-content .header-content-inner p {
      font-weight: 300;
      color: fade(white, 70%);
      font-size: 16px;
      margin-bottom: 50px; }
  @media (min-width: 768px) {
    header {
      min-height: 100%; }
      header .header-content {
        padding: 200px 15px 100px; }
        header .header-content .header-content-inner {
          max-width: 1200px;
          margin-left: auto;
          margin-right: auto; }
          header .header-content .header-content-inner h1 {
            font-size: 50px; }
          header .header-content .header-content-inner p {
            font-size: 18px;
            max-width: 80%;
            margin-left: auto;
            margin-right: auto; } }

.section-product {
  padding-top: 100px;
  background-color: #f9f9f9; }

.section-heading {
  margin-top: 0; }

.intro-img {
  position: relative; }

#section-footer a {
  text-decoration: none;
  color: #333333;
  font-family: 'Montserrat-ExtraLight', sans-serif;
  list-style: none;
  color: rgba(97, 96, 96, 0.49);
  margin-bottom: 10px;
  line-height: 1em;
  font-size: 12px; }

#section-footer {
  display: flex;
  justify-content: center;
  background-color: #E3E5E8;
  z-index: 100;
  text-align: center;
  padding-top: 4em; }
  #section-footer ul {
    margin-left: -34px; }
  #section-footer ul li {
    font-family: 'GMontserrat-ExtraLight', sans-serif;
    list-style: none;
    color: rgba(97, 96, 96, 0.49);
    margin-bottom: 10px;
    line-height: 1em;
    font-size: 12px; }
    #section-footer ul li a {
      color: #616060;
      text-decoration: none;
      font-weight: 100; }
  #section-footer ul.iconList {
    margin-top: 30px; }
  #section-footer li.icons i.fa {
    margin-right: 8px;
    color: #FFF;
    letter-spacing: 15px; }
  #section-footer .footerHeader {
    font-weight: 400;
    font-size: 1.1em;
    color: #616060; }
  #section-footer small {
    font-size: 11px;
    font-weight: 100;
    color: #4F4F4F; }
  #section-footer .footer-square-text {
    margin: 20px 0;
    font-size: 10px;
    padding: 5px; }
  #section-footer .footer-text {
    font-size: 10px;
    padding: 5px; }
  #section-footer .footer-logo {
    width: 200px; }

.service-box {
  max-width: 400px;
  margin: 50px auto 0; }
  @media (min-width: 992px) {
    .service-box {
      margin: 20px auto 0; } }
  .service-box p {
    margin-bottom: 0; }

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto; }
  .portfolio-box .portfolio-box-caption {
    color: white;
    opacity: 0;
    display: block;
    background: fade(#8FC7E8, 90%);
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s; }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
      width: 100%;
      text-align: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
        padding: 0 15px; }
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px; }
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 18px; }
  .portfolio-box:hover .portfolio-box-caption {
    opacity: 1; }
  .portfolio-box:focus {
    outline: none; }
  @media (min-width: 768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
      font-size: 16px; }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
      font-size: 22px; } }

.call-to-action h2 {
  margin: 0 auto 20px; }

.text-primary {
  color: #8FC7E8; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.btn-default {
  color: #222222;
  background-color: white;
  border-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s; }
  .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active,
  .btn-default .open > .dropdown-toggle {
    color: #222222;
    background-color: #f2f2f2;
    border-color: #ededed; }
  .btn-default:active, .btn-default.active,
  .btn-default .open > .dropdown-toggle {
    background-image: none; }
  .btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled].active,
  fieldset[disabled] .btn-default,
  fieldset[disabled] .btn-default:hover,
  fieldset[disabled] .btn-default:focus,
  fieldset[disabled] .btn-default.focus,
  fieldset[disabled] .btn-default:active,
  fieldset[disabled] .btn-default.active {
    background-color: white;
    border-color: white; }
  .btn-default .badge {
    color: white;
    background-color: #222222; }

.btn-primary {
  color: white;
  background-color: #8FC7E8;
  border-color: #8FC7E8;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active,
  .btn-primary .open > .dropdown-toggle {
    color: white;
    background-color: #7abce4;
    border-color: #71b8e2; }
  .btn-primary:active, .btn-primary.active,
  .btn-primary .open > .dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled].active,
  fieldset[disabled] .btn-primary,
  fieldset[disabled] .btn-primary:hover,
  fieldset[disabled] .btn-primary:focus,
  fieldset[disabled] .btn-primary.focus,
  fieldset[disabled] .btn-primary:active,
  fieldset[disabled] .btn-primary.active {
    background-color: #8FC7E8;
    border-color: #8FC7E8; }
  .btn-primary .badge {
    color: #8FC7E8;
    background-color: white; }

.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  border: none;
  border-radius: 0;
  font-weight: 700; }

.btn-xl {
  padding: 15px 30px;
  white-space: normal; }

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222; }

::selection {
  color: white;
  text-shadow: none;
  background: #222222; }

img::selection {
  color: white;
  background: transparent; }

img::-moz-selection {
  color: white;
  background: transparent; }

body {
  webkit-tap-highlight-color: #222222;
  font-family: 'Montserrat-ExtraLight', sans-serif; }

.modal {
  text-align: center;
  padding: 0 !important;
  border-radius: 0; }

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; }

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle; }

.modal-backdrop {
  background-image: url(../backgroundimg/modalBG.png);
  background-color: transparent;
  background-size: cover; }

.modal-backdrop.in {
  filter: alpha(opacity=80);
  opacity: 0.8; }

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 0px;
  border: 0;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(196, 167, 151, 0.5);
  box-shadow: 0 3px 9px rgba(196, 167, 151, 0.5); }

.modal h3 {
  color: #8FC7E8;
  font-weight: 400;
  line-height: 2.25rem; }

.modal .date {
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #EAD4C8; }

.modal .faCloseModal {
  font-size: 2rem; }

.modal-body {
  padding: 2.5rem 1rem 1rem; }

button.close {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px;
  font-weight: 700;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.8;
  color: #8FC7E8; }
  button.close:hover {
    color: #8FC7E8;
    opacity: 1; }
  button.close:focus {
    outline: none; }

.modal .input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 0;
  text-align: center; }

#imgReveal {
  position: absolute;
  z-index: 1;
  animation-delay: 2.9s;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0; }

.behind {
  z-index: -999;
  color: red; }

.register {
  height: 4em;
  background-color: #8FC7E8;
  color: #fff;
  border-radius: 0;
  z-index: 999; }

.founded {
  margin-top: 20px; }

section span.fa-3x {
  font-size: 3em;
  color: #8FC7E8;
  margin-top: 60px;
  display: block;
  font-family: 'Montserrat-ExtraLight', sans-serif;
  line-height: 1.2em; }

.intro-header {
  padding: 50px 0;
  border: 3px solid #8fc7e8; }
  .intro-header .intro-header-text {
    margin-top: 20px; }

.incelligence h1 {
  color: #8FC7E8; }

.row {
  margin: 0; }

div.row.relativerow {
  bottom: 45em; }

div.row.greybg {
  margin-top: 168px; }

div.col.whitebg {
  background-color: #ffffff; }

.incelligencedescription {
  line-height: 2rem;
  font-weight: 200;
  color: #828282; }

.oilsplat {
  position: absolute;
  right: -12em;
  z-index: 100;
  top: -70px; }

.bluerectangle {
  z-index: -1;
  border-style: solid;
  border-color: #8fc7e8;
  background-repeat: no-repeat;
  margin-top: -57px;
  line-height: 2em;
  color: rgba(85, 85, 85, 0.61);
  padding: 30px;
  margin-bottom: -20px; }

.paragraphtext {
  line-height: 2.24rem;
  font-weight: 200;
  margin: 2rem 0;
  color: #828282; }

div.col-lg-6.bluerectangle img {
  margin-top: 8em; }

#af-form-1556410765 .af-body .af-textWrap {
  width: 100%;
  display: block;
  float: none; }

#af-form-1556410765 .af-body .privacyPolicy {
  color: #CCCCCC;
  font-size: 11px; }

#af-form-1556410765 .af-body a {
  color: #CCCCCC;
  text-decoration: underline;
  font-style: normal;
  font-weight: normal; }

#af-form-1556410765 .af-body input.text, #af-form-1556410765 .af-body textarea {
  background-color: #fff;
  border-color: #d9d9d9;
  border-width: 1px;
  border-style: solid;
  color: #c7c7c7;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 11px 20px;
  border-radius: 0;
  text-align: center;
  outline: none !important; }

#af-form-1556410765 .af-body input.text:focus, #af-form-1556410765 .af-body textarea:focus {
  background-color: rgba(252, 233, 216, 0.3);
  border-color: transparent;
  border-width: 1px;
  border-style: solid; }

#af-form-1556410765 .af-body label.previewLabel {
  display: block;
  float: none;
  text-align: left;
  width: auto;
  color: #CCCCCC;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  font-family: 'Montserrat-ExtraLight', sans-serif; }

#af-form-1556410765 .af-body {
  padding-bottom: 0;
  padding-top: 10px;
  background-repeat: no-repeat;
  background-position: inherit;
  background-image: none;
  color: #CCCCCC;
  font-size: 11px; }

#af-form-1556410765 .af-quirksMode {
  padding-right: 3rem;
  padding-left: 3rem; }

#af-form-1556410765 .af-standards .af-element {
  padding-right: 3rem;
  padding-left: 3rem; }

#af-form-1556410765 .buttonContainer .btn {
  margin-bottom: 10px; }

#af-form-1556410765 .buttonContainer input.submit {
  background-color: #0479C2;
  background-image: url("http://aweber.com/images/forms/plain/buttons/grey.png");
  color: #FFFFFF;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 24px; }

#af-form-1556410765 .buttonContainer input.submit {
  width: auto; }

#af-form-1556410765 .buttonContainer {
  text-align: center; }

#af-form-1556410765 button, #af-form-1556410765 input, #af-form-1556410765 submit, #af-form-1556410765 textarea, #af-form-1556410765 select, #af-form-1556410765 label, #af-form-1556410765 optgroup, #af-form-1556410765 option {
  float: none;
  position: static;
  margin: 0; }

#af-form-1556410765 div {
  margin: 0; }

#af-form-1556410765 form, #af-form-1556410765 textarea, .af-form-wrapper, .af-form-close-button, #af-form-1556410765 img {
  float: none;
  color: inherit;
  position: static;
  background-color: none;
  border: none;
  margin: 0;
  padding: 0; }

#af-form-1556410765 input, #af-form-1556410765 textarea, #af-form-1556410765 select {
  font-size: 100%; }

#af-form-1556410765 select, #af-form-1556410765 label, #af-form-1556410765 optgroup, #af-form-1556410765 option {
  padding: 0; }

#af-form-1556410765, #af-form-1556410765 .quirksMode {
  width: 100%;
  max-width: 418px; }

#af-form-1556410765.af-quirksMode {
  overflow-x: hidden; }

#af-form-1556410765 {
  background-color: #FFFFFF;
  border-color: #CFCFCF;
  border-width: 1px;
  border-style: none; }

#af-form-1556410765 {
  display: block; }

#af-form-1556410765 {
  overflow: hidden; }

.af-body .af-textWrap {
  text-align: left; }

.af-body input.image {
  border: none !important; }

.af-body input.text {
  width: 100%;
  float: none; }

.af-body.af-standards input.submit {
  padding: 4px 12px; }

.af-clear {
  clear: both; }

.af-element label {
  text-align: left;
  display: block;
  float: left; }

.af-element {
  padding-bottom: 5px;
  padding-top: 5px; }

.af-form-wrapper {
  text-indent: 0; }

.af-form {
  text-align: left;
  margin: auto; }

.af-quirksMode .af-element {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.lastNameContainer {
  margin-top: 10px; }

.lbl-right .af-element label {
  text-align: right; }

.animatedRow {
  position: relative; }

section.section-intro {
  position: relative; }

.diagonal-bg {
  position: absolute;
  height: 50%;
  background: linear-gradient(to bottom left, #FFF 50%, #f9f9f9 50%);
  display: block;
  top: 60%;
  right: 0;
  bottom: 0;
  left: 0; }

span.incelligence-header {
  position: relative;
  left: -110px; }

.section-incelligence {
  background: #f9f9f9; }

img.celavive-pic-1 {
  position: absolute;
  right: 0;
  top: 80px;
  z-index: 100; }

img.healthy-rect {
  position: absolute;
  left: 0;
  z-index: 1; }

img.healthy-quote {
  position: absolute;
  left: 100px;
  top: 100px;
  z-index: 500; }

img.science-vertical {
  left: 102px;
  top: 103px;
  position: absolute;
  height: 710px; }

img.img-responsive.ae3.product-line {
  position: relative;
  right: -60px; }

img.img-responsive {
  width: 100%;
  max-width: 800px; }

img.img-responsive.floatimg.hidden-xs.hidden-sm.hidden-md.ae6 {
  position: relative;
  top: -70px; }

@media (min-width: 1200px) {
  .section-science .container {
    width: 1310px; } }

@media only screen and (max-width: 1024px) {
  .intro-header {
    border: none; }
  div.row.greybg {
    margin-top: -53px; }
  span.incelligence-header {
    position: relative;
    left: 0px; }
  .incelligence {
    padding-top: 100px;
    margin-top: 0; }
  img.science-vertical {
    left: 102px;
    top: 30px;
    position: absolute;
    height: 491px; } }

@media only screen and (min-width: 1025px) {
  .intro-header {
    padding: 50px; }
  .mobile {
    display: none; } }

@media only screen and (max-width: 480px) {
  .desktop {
    display: none; }
  .incelligencedescription {
    line-height: 2em; }
  .incelligence {
    margin-top: -100px;
    padding-top: 0; }
  .mobile-padding {
    padding: 2em; }
  .section-intro {
    background-image: none !important; }
  .intro-header {
    padding: 20px 0;
    border: none; }
  .paragraphtext {
    margin: 2rem 0; }
  div.row.greybg {
    margin-top: 50px; }
  img.healthy-quote {
    position: absolute;
    left: 51px;
    top: -84px;
    z-index: 500;
    width: 20em; }
  .section-science {
    min-height: 300px !important; }
  .section-cta .btn-xl {
    font-size: 13px; }
  .section-footer ul li {
    font-size: 11px;
    line-height: 16px; }
  .greybg h2 {
    font-size: 2em; }
  div.row.greybg {
    height: auto; }
  .products_mobile {
    margin-top: 10em;
    width: 400px;
    margin-left: 8px; }
  .mobileproduct {
    margin-top: 12em; } }

.section-founded-on-science {
  background-color: #f9f9f9;
  background-image: linear-gradient(180deg, #f9f9f9 0%, #ffffff 100%);
  margin-top: -50px; }
  .section-founded-on-science img {
    max-width: 100%; }
  .section-founded-on-science .left {
    text-align: right; }
    @media (max-width: 991px) {
      .section-founded-on-science .left .founded-on-science-img {
        width: 40%; } }
  .section-founded-on-science .title {
    margin-left: -8%; }
    .section-founded-on-science .title.visible-xs, .section-founded-on-science .title.visible-sm {
      position: absolute;
      bottom: -2.5rem;
      margin: 0;
      padding: 0 2rem; }
  .section-founded-on-science .celvCarouse .celv-secondary-text h4 {
    line-height: 2rem;
    font-style: italic;
    font-weight: 300;
    text-align: left; }
  .section-founded-on-science .celvCarouse .celv-secondary-text div {
    text-align: left; }
  .section-founded-on-science .celvCarouse .btn.btnReadMore {
    border: #8FC7E8 1px solid;
    text-transform: none;
    padding: 10px 20px; }
    .section-founded-on-science .celvCarouse .btn.btnReadMore:hover {
      background: white;
      color: #8FC7E8; }
    .section-founded-on-science .celvCarouse .btn.btnReadMore.hidden {
      display: none; }
  .section-founded-on-science .celvCarouse #readMoreScienceText .hidden {
    display: none; }
  .section-founded-on-science .celvCarouse #readMoreScienceText .visible {
    display: inline-block; }

.section-social-media {
  padding-top: 0; }
  .section-social-media .container .flexRow {
    display: flex; }
    .section-social-media .container .flexRow .left {
      align-self: center;
      text-align: right; }
      .section-social-media .container .flexRow .left img {
        max-width: 90%; }
    .section-social-media .container .flexRow .right {
      align-self: center; }
      .section-social-media .container .flexRow .right .top img {
        width: 100%; }
      @media (max-width: 767px) {
        .section-social-media .container .flexRow .right .top img {
          max-width: 350px; } }

@media (max-width: 767px) and (max-width: 767px) {
  .section-social-media .container .flexRow .right .top .col-xs-4 {
    padding: 5px; } }
      .section-social-media .container .flexRow .right .bottom {
        padding: 3rem 1rem 1rem; }
        .section-social-media .container .flexRow .right .bottom .title {
          max-height: 3rem;
          max-width: 100%;
          margin-bottom: 2rem; }
        .section-social-media .container .flexRow .right .bottom .content {
          padding-left: 2rem; }
          @media (max-width: 767px) {
            .section-social-media .container .flexRow .right .bottom .content {
              padding: 0; } }

.celv-secondary-text {
  color: #828282;
  line-height: 2rem;
  font-weight: 200; }

.padding {
  padding: 15px; }

.mb-0 {
  margin-bottom: 0 !important; }

.btn-primary-invert {
  background: white;
  color: #50a7db;
  border: solid 1px #8FC7E8;
  font-weight: 400; }
  .btn-primary-invert:hover {
    background: #8FC7E8;
    color: white; }

#emailSubmissionSuccessAlert.alert.alert-info {
  background-color: #8FC7E8;
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  border-radius: 0;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  z-index: 10; }
  #emailSubmissionSuccessAlert.alert.alert-info .close {
    color: white;
    top: 5px; }
  #emailSubmissionSuccessAlert.alert.alert-info.visible {
    display: block; }

.dropdown-menu {
  background-color: transparent !important;
  border: none !important; }
