@font-face {
  font-family: "Bauer Bodoni Std 1";
  src: url(BauerBodoniStd-Italic.otf); }

@font-face {
  font-family: "Gotham A";
  src: url(Gotham-Xlight.ttf); }

@font-face {
  font-family: "Gotham B";
  src: url(Gotham-Book.otf); }
