.section-cta {
  height: 65px;
  color: #ffffff;
  padding-top: 45px;
  background-color: #BCDEF3;
  //align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  .form-control{
    font-size: .8rem;
  }
  .ctatablecel{
    display: table-cell;
    vertical-align: middle;
  }
  input[type=text]{
    border-radius: 5em;
    background-color:rgba(255, 255, 255, 0.45);
    width:250px;
    border-color: #ffffff;
    padding-left: 15px;

  }
  input{
    padding-right:2em;
  }

  a{
    color:  #71b8e2;
  }

  Form{
    text-align: center;
    margin-bottom: 1em;
  }

  .btn-secondary{
    border-radius: 50%;
    background-color: transparent;
    color: #ffffff;
    border: none;
  }

  span{
    padding-right:2em;
  }
}





.btn-circle {
  background: url(./../../img/Group-submit.png) no-repeat center center;
  background-color: transparent;
  width:35px;
  height: 35px;

  margin-left: 15px;
}

@media only screen and (max-width: 480px) {

  .section-cta{
    height: 150px;
    width: 100%;
    color: #ffffff;
    display: flex;
    background-color: #BCDEF3;
    flex-direction: row;
    justify-content: center;
    padding: 0 15px;

    span{
      padding-right: 0;
    }

    form{
      justify-content: center;
    }

    input[type=text]{
      border-radius: 5em;
      background-color:rgba(255, 255, 255, 0.45);
      max-width: 200px!important;

    }
    .text-right{
      text-align: center!important;
    }
  .cta-form{
  }
    .cta-form span {
      width:20em;

    }
    .section-cta .btn-xl {
      font-size: 18px;
    }
  }

}