.section-cta {
  padding: 50px;
  display: flex;
  background-color: #BCDEF3;
  justify-content: center; }
  .section-cta .btn-xl {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-size: 24px;
    background-color: #8fc7e8;
    color: #ffffff;
    border-color: #71b8e2;
    font-weight: 700;
    white-space: normal;
    max-width: 520px;
    padding: 24px; }
  .section-cta .btn-xl:hover {
    color: #fff;
    background-color: #7abce4;
    border-color: #71b8e2; }
