.section-cta {
  height: 65px;
  color: #ffffff;
  padding-top: 45px;
  background-color: #BCDEF3;
  //align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  .form-control{
    font-size: .8rem;
  }
  .ctatablecel{
    display: table-cell;
    vertical-align: middle;
  }
  input[type=text]{
    border-radius: 5em;
    background-color:rgba(255, 255, 255, 0.45);
  }
  a{
    color:  #71b8e2;
  }

  .btn-secondary{
    background-color: transparent;
    color: #ffffff;
    border: none;
  }
.text-right{
padding-top: .3em;}
}





.btn-circle {
  background: url(./../../img/Group-submit.png) no-repeat center center;
  background-color: transparent;
  border-radius: 50%;
  width:25px;
  height: 25px;
  border-color: #ffffff;
  color: #ffffff;
  font-size: 15px;
  margin-top:2px;
}

@media only screen and (max-width: 480px) {

  .section-cta{
    padding-top: 45px;
    width: 100%;
    height: 65px;
    color: #ffffff;
    display: flex;
    background-color: #BCDEF3;

    input[type=text]{
      border-radius: 5em;
      background-color:rgba(255, 255, 255, 0.45);
      width: 250px;
    }
    .text-right{
      text-align: center!important;
    }
  .cta-form{
  }
    .cta-form span {
      width:20em;

    }
    .section-cta .btn-xl {
      font-size: 18px;
    }
  }

}