.section-cta {
  height: 65px;
  color: #ffffff;
  padding-top: 45px;
  background-color: #BCDEF3;
  display: flex;
  align-items: center;
  justify-content: center; }
  .section-cta .form-control {
    font-size: .8rem; }
  .section-cta .ctatablecel {
    display: table-cell;
    vertical-align: middle; }
  .section-cta input[type=text] {
    border-radius: 5em;
    background-color: rgba(255, 255, 255, 0.45);
    width: 250px;
    border-color: #ffffff;
    padding-left: 15px; }
  .section-cta input {
    padding-right: 2em; }
  .section-cta a {
    color: #71b8e2; }
  .section-cta Form {
    text-align: center;
    margin-bottom: 1em; }
  .section-cta .btn-secondary {
    border-radius: 50%;
    background-color: transparent;
    color: #ffffff;
    border: none; }
  .section-cta span {
    padding-right: 2em; }

.btn-circle {
  background: url(./../../img/Group-submit.png) no-repeat center center;
  background-color: transparent;
  width: 35px;
  height: 35px;
  margin-left: 15px; }

@media only screen and (max-width: 480px) {
  .section-cta {
    height: 150px;
    width: 100%;
    color: #ffffff;
    display: flex;
    background-color: #BCDEF3;
    flex-direction: row;
    justify-content: center;
    padding: 0 15px; }
    .section-cta span {
      padding-right: 0; }
    .section-cta form {
      justify-content: center; }
    .section-cta input[type=text] {
      border-radius: 5em;
      background-color: rgba(255, 255, 255, 0.45);
      max-width: 200px !important; }
    .section-cta .text-right {
      text-align: center !important; }
    .section-cta .cta-form span {
      width: 20em; }
    .section-cta .section-cta .btn-xl {
      font-size: 18px; } }
