@media only screen and (min-width : 1025px) {
  img.img-responsive {
    max-width: 1200px;
  }

}

  .productReveal {
    animation: fadeIn 2s;
  }

  @keyframes fadeIn {
    0% {
      opacity: .1;
    }
    100% {
      opacity: 1;
    }
  }




