.section-science {
  min-height: 640px;
}
.celavive-pic-1{
  max-width: 865px;
}
.section-science img.img-responsive {
 max-width: 800px;
}
.section-science img.healthy-quote{
  max-width: 550px;
}

@media only screen and (max-width: 1200px) {
 .lady-desktop{
   display: none;
 }
}

@media only screen and (min-width: 1201px) {
  .lady-mobile{
    display: none;
  }
}